#question{
    color: #F806CC;
}
.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86,165,,235,0.25);
    background-color: white;
    color: #F806CC;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(248, 6, 204,0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #F806CC;
    color: white;

}
.choice-text{
    padding: 1.5rem;
    width: 100%;
}
.correct{
    background-color: #00FF40;
    color: #FDFF00;
 
}
.incorrect{
    background-color: #F40009;
    color: #1E1E1E;
}

#hud {
    display: flex;
    justify-content: space-between;

}
#hud-item{
    width: 25rem;
    height: 13.5rem;
    background-color:  #570A57;
    padding: 2rem 2rem;
    border-radius: 50%;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
    color: #F806CC;
}
.hud-main-text{
    text-align: center;
    color: #F806CC;
}

#progressBar{
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #F806CC;
    margin-top: 1.5rem;
    color: #F806CC;
}
#progressBarFull{
    height: 3.4rem;
    background-color: #F806CC;
    width: 0;
}
#loader{
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #F806CC;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}